USE [QLBH]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SoDH] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLDat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SoPn] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLNhap] [int] NULL,
	[DgNhap] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPn] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SoPx] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLXuat] [int] NULL,
	[DgXuat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPx] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SoDH] [char](4) NOT NULL,
	[NgayDH] [datetime] NULL,
	[MaNhaCc] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MaNhaCc] [char](3) NOT NULL,
	[TenNhaCc] [varchar](200) NOT NULL,
	[DiaChi] [varchar](200) NULL,
	[DienThoai] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SoPn] [char](4) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[SoDH] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[SoPx] [char](4) NOT NULL,
	[NgayXuat] [datetime] NULL,
	[TenKH] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NamThang] [char](6) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLDau] [int] NULL,
	[TongSLN] [int] NULL,
	[TongSLX] [int] NULL,
	[SLCuoi]  AS (([SLDau]+[TongSLN])-[TongSLX]),
PRIMARY KEY CLUSTERED 
(
	[NamThang] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 10/29/2024 7:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MaVTu] [char](4) NOT NULL,
	[TenVTu] [varchar](100) NOT NULL,
	[DVTinh] [varchar](10) NULL,
	[PhanTram] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONDH] ADD  DEFAULT (getdate()) FOR [NgayDH]
GO
ALTER TABLE [dbo].[NHACC] ADD  DEFAULT ('Chua có') FOR [DienThoai]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[DONDH] ([SoDH])
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD FOREIGN KEY([SoPn])
REFERENCES [dbo].[PHIEUNHAP] ([SoPn])
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD FOREIGN KEY([SoPx])
REFERENCES [dbo].[PHIEUXUAT] ([SoPx])
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD FOREIGN KEY([MaNhaCc])
REFERENCES [dbo].[NHACC] ([MaNhaCc])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[DONDH] ([SoDH])
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD CHECK  (([SLDat]>(0)))
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD CHECK  (([DgNhap]>(0)))
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD CHECK  (([SLNhap]>(0)))
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD CHECK  (([DgXuat]>(0)))
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD CHECK  (([DgXuat]>=(0)))
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD CHECK  (([SLXuat]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD CHECK  (([SLDau]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_TongSLN] CHECK  (([TongSLN]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_TongSLN]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_TongSLX] CHECK  (([TongSLX]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_TongSLX]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD CHECK  (([PhanTram]>=(0) AND [PhanTram]<=(100)))
GO
