USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 10/29/2024 7:50:27 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBH.mdf' , SIZE = 50MB , MAXSIZE = 200MB, FILEGROWTH = 10MB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBH_log.ldf' , SIZE = 10MB , MAXSIZE = 2048GB , FILEGROWTH = 5MB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SoDH] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLDat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SoPn] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLNhap] [int] NULL,
	[DgNhap] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPn] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SoPx] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLXuat] [int] NULL,
	[DgXuat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPx] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SoDH] [char](4) NOT NULL,
	[NgayDH] [datetime] NULL,
	[MaNhaCc] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MaNhaCc] [char](3) NOT NULL,
	[TenNhaCc] [varchar](200) NOT NULL,
	[DiaChi] [varchar](200) NULL,
	[DienThoai] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SoPn] [char](4) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[SoDH] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[SoPx] [char](4) NOT NULL,
	[NgayXuat] [datetime] NULL,
	[TenKH] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NamThang] [char](6) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLDau] [int] NULL,
	[TongSLN] [int] NULL,
	[TongSLX] [int] NULL,
	[SLCuoi]  AS (([SLDau]+[TongSLN])-[TongSLX]),
PRIMARY KEY CLUSTERED 
(
	[NamThang] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 10/29/2024 7:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MaVTu] [char](4) NOT NULL,
	[TenVTu] [varchar](100) NOT NULL,
	[DVTinh] [varchar](10) NULL,
	[PhanTram] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTPNHAP] ([SoPn], [MaVTu], [SLNhap], [DgNhap]) VALUES (N'N001', N'DD01', 8, 2500000.0000)
INSERT [dbo].[CTPNHAP] ([SoPn], [MaVTu], [SLNhap], [DgNhap]) VALUES (N'N001', N'DD02', 3, 3500000.0000)
INSERT [dbo].[CTPNHAP] ([SoPn], [MaVTu], [SLNhap], [DgNhap]) VALUES (N'N002', N'DD01', 2, 2500000.0000)
GO
INSERT [dbo].[CTPXUAT] ([SoPx], [MaVTu], [SLXuat], [DgXuat]) VALUES (N'X001', N'DD01', 2, 3500000.0000)
INSERT [dbo].[CTPXUAT] ([SoPx], [MaVTu], [SLXuat], [DgXuat]) VALUES (N'X001', N'DD02', 1, 3500000.0000)
INSERT [dbo].[CTPXUAT] ([SoPx], [MaVTu], [SLXuat], [DgXuat]) VALUES (N'X002', N'DD01', 5, 4900000.0000)
GO
INSERT [dbo].[DONDH] ([SoDH], [NgayDH], [MaNhaCc]) VALUES (N'D001', CAST(N'2012-01-15T00:00:00.000' AS DateTime), N'C03')
INSERT [dbo].[DONDH] ([SoDH], [NgayDH], [MaNhaCc]) VALUES (N'D002', CAST(N'2012-01-30T00:00:00.000' AS DateTime), N'C01')
INSERT [dbo].[DONDH] ([SoDH], [NgayDH], [MaNhaCc]) VALUES (N'D003', CAST(N'2012-02-10T00:00:00.000' AS DateTime), N'C02')
GO
INSERT [dbo].[NHACC] ([MaNhaCc], [TenNhaCc], [DiaChi], [DienThoai]) VALUES (N'C01', N'Lê Minh Thành', N'54, Kim Mã, C?u Gi?y, Hà N?i', N'8781024   ')
INSERT [dbo].[NHACC] ([MaNhaCc], [TenNhaCc], [DiaChi], [DienThoai]) VALUES (N'C02', N'Tr?n Quang Anh', N'145, Hùng Vuong, H?i Duong', N'7698154   ')
INSERT [dbo].[NHACC] ([MaNhaCc], [TenNhaCc], [DiaChi], [DienThoai]) VALUES (N'C03', N'Bùi H?ng Phu?ng', N'154/85, Lê Chân, H?i Phòng', N'9600125   ')
GO
INSERT [dbo].[PHIEUNHAP] ([SoPn], [NgayNhap], [SoDH]) VALUES (N'N001', CAST(N'2012-01-17T00:00:00.000' AS DateTime), N'D001')
INSERT [dbo].[PHIEUNHAP] ([SoPn], [NgayNhap], [SoDH]) VALUES (N'N002', CAST(N'2012-01-20T00:00:00.000' AS DateTime), N'D001')
INSERT [dbo].[PHIEUNHAP] ([SoPn], [NgayNhap], [SoDH]) VALUES (N'N003', CAST(N'2012-01-31T00:00:00.000' AS DateTime), N'D002')
GO
INSERT [dbo].[PHIEUXUAT] ([SoPx], [NgayXuat], [TenKH]) VALUES (N'X001', CAST(N'2012-01-17T00:00:00.000' AS DateTime), N'Nguy?n Ng?c Phuong Nhi')
INSERT [dbo].[PHIEUXUAT] ([SoPx], [NgayXuat], [TenKH]) VALUES (N'X002', CAST(N'2012-01-25T00:00:00.000' AS DateTime), N'Nguy?n H?ng Phu?ng')
INSERT [dbo].[PHIEUXUAT] ([SoPx], [NgayXuat], [TenKH]) VALUES (N'X003', CAST(N'2012-01-31T00:00:00.000' AS DateTime), N'Nguy?n Tu?n Tú')
GO
INSERT [dbo].[TONKHO] ([NamThang], [MaVTu], [SLDau], [TongSLN], [TongSLX]) VALUES (N'201201', N'DD01', 0, 10, 6)
INSERT [dbo].[TONKHO] ([NamThang], [MaVTu], [SLDau], [TongSLN], [TongSLX]) VALUES (N'201201', N'DD02', 0, 15, 7)
INSERT [dbo].[TONKHO] ([NamThang], [MaVTu], [SLDau], [TongSLN], [TongSLX]) VALUES (N'201201', N'VD02', 0, 30, 10)
GO
INSERT [dbo].[VATTU] ([MaVTu], [TenVTu], [DVTinh], [PhanTram]) VALUES (N'DD01', N'Ð?u DVD Hitachi 1 dia', N'B?', 40)
INSERT [dbo].[VATTU] ([MaVTu], [TenVTu], [DVTinh], [PhanTram]) VALUES (N'DD02', N'Ð?u DVD Hitachi 3 dia', N'B?', 40)
INSERT [dbo].[VATTU] ([MaVTu], [TenVTu], [DVTinh], [PhanTram]) VALUES (N'TL15', N'T? l?nh Sanyo 150 lit', N'Cái', 25)
GO
ALTER TABLE [dbo].[DONDH] ADD  DEFAULT (getdate()) FOR [NgayDH]
GO
ALTER TABLE [dbo].[NHACC] ADD  DEFAULT ('Chua có') FOR [DienThoai]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[DONDH] ([SoDH])
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD FOREIGN KEY([SoPn])
REFERENCES [dbo].[PHIEUNHAP] ([SoPn])
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD FOREIGN KEY([SoPx])
REFERENCES [dbo].[PHIEUXUAT] ([SoPx])
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD FOREIGN KEY([MaNhaCc])
REFERENCES [dbo].[NHACC] ([MaNhaCc])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[DONDH] ([SoDH])
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD CHECK  (([SLDat]>(0)))
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD CHECK  (([DgNhap]>(0)))
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD CHECK  (([SLNhap]>(0)))
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD CHECK  (([DgXuat]>(0)))
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD CHECK  (([DgXuat]>=(0)))
GO
ALTER TABLE [dbo].[CTPXUAT]  WITH CHECK ADD CHECK  (([SLXuat]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD CHECK  (([SLDau]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_TongSLN] CHECK  (([TongSLN]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_TongSLN]
GO
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [CK_TONKHO_TongSLX] CHECK  (([TongSLX]>=(0)))
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [CK_TONKHO_TongSLX]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD CHECK  (([PhanTram]>=(0) AND [PhanTram]<=(100)))
GO
USE [master]
GO
